{% load static %}
{% block content %}
    <div class="form-list-data-all">
        {% for i in allForms %}
            {% if i.creator != request.user %}
                    <div class="form-list-link">
                        <div class="form-box shadow-sm">
                            <div class="form-list-icon" style="margin-top: 20px;"><img src="{% static 'Icon/documents.svg' %}"></div>
                            <p class="form-list-creator" style="margin-top: 17.5px;">{{i.creator}}</p>
                            <div class="form-list-title"><h5 class="form-list-title-text">{{i.title}}</h5></div>
                            {% if i.createdAt == i.updatedAt %}
                            <p class="form-list-timestamp">{{i.get_created_date}}</p>
                            {% else %}
                            <p class="form-list-timestamp">{{i.get_updated_date}}</p>
                            {% endif %}
                            <a href = "{% url 'responses' i.code %}" class="form-list-open btn btn-primary">Atvērt</a>
                        </div>
                    </div>
            {% else %}
                <div class="form-list-link">
                    <div class="form-box shadow-sm">
                        <div class="form-list-icon" style="margin-top: 20px;"><img src="{% static 'Icon/documents.svg' %}"></div>
                        <p class="form-list-creator" style="margin-top: 17.5px;">{{i.creator}}</p>
                        <div class="form-list-title"><h5 class="form-list-title-text">{{i.title}}</h5></div>
                        {% if i.createdAt == i.updatedAt %}
                        <p class="form-list-timestamp">{{i.get_created_date}}</p>
                        {% else %}
                        <p class="form-list-timestamp">{{i.get_updated_date}}</p>
                        {% endif %}
                        <a href = "{% url 'edit_form' i.code %}" class="form-list-open btn btn-primary">Atvērt</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}