{% load static %}
{% block content %}
    <div class="form-list-data-all">
        {% for i in allForms %}
            {% if i.creator != request.user %}
                    <a href = "{% url 'responses' i.code %}" class="form-list-link">
                        <div class="form-box">
                            <div class="form-list-title"><h5 class="form-list-title-text">{{i.title}}</h5></div>
                            {% if i.createdAt == i.updatedAt %}
                            <p class="form-list-timestamp">{{i.createdAt}}</p>
                            {% else %}
                            <p class="form-list-timestamp">{{i.updatedAt}}</p>
                            {% endif %}
                        </div>
                    </a>
            {% else %}
                <a href = "{% url 'edit_form' i.code %}" class="form-list-link">
                    <div class="form-box">
                        <div class="form-list-title"><h5 class="form-list-title-text">{{i.title}}</h5></div>
                        {% if i.createdAt == i.updatedAt %}
                        <p class="form-list-timestamp">{{i.createdAt}}</p>
                        {% else %}
                        <p class="form-list-timestamp">{{i.updatedAt}}</p>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}