// This file is used to override the "SASS" variables.

// Example override Bootstrap variable for button
$green:   #506031;
$blue: #397499;
$primary: $blue;
// #3a5514 - llkc
// #70a24e -
// #bbf7bb -main