body {
    font-family: 'Montserrat', sans-serif;
}

/* Button styles when active or in focus */
.btn:hover, .btn:active, .btn:focus{
    background-color: #506031 !important;
    border: 2px solid #004d00 !important;
}