.btn {
  border: none;
}

.divider {
  overflow: visible;
  border: none;
  border-top: 1px solid #000000;
  color: #000000;
  text-align: center;
}

.divider::after {
  content: "Or";
  display: inline-block;
  position: relative;
  top: -11px;
  padding: 0 16px;
  background: #f8f9fa;
  color: #000000;
}

@media screen and (min-width: 480px) {
  #login_box {
    background-color: #f8f9fa;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #506031;
  }

  #login_box {
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  #col-group {
    padding: 3.5rem;
  }
}