{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #b9975b;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LLKC Veidlapu izveide{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'index/HurlUI.css' %}">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block script %}
    
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
  <div class="topnav nav-effect" style="background-color:#b9975b">
    <div class="nav-padding">
      <span class="nav-ham" id="nav-ham">&#9776;</span>
        <a href="/main/"><img src="/static/Icon/icon.png" alt="LLKC Veidlapu izveide"  class="navbar-icon form-icon" title="LLKC Veidlapu izveide"></a>
        <span class="nav-text" title="LLKC Veidlapu izveide"><p style="color:white">LLKC Veidlapu izveide</p></span>
        
    </div>
    <div class="sidebar" id = "sidebar">
      <span class="close-sidebar" id="close-sidebar">&times;</span>
      <div class="sidebar-content">
          <h4 class="sidebar-title">
              <a href = "{% url 'main' %}" class="sidebar-title-link">
                  <span>LLKC Veidlapu izveide</span>
              </a>
          </h4>
          <p class="text-label">Atradi kļūdu? Iesniedz to <a href="{% url 'iesniedz_kludu' %}" class="link">šeit</a></p>
          <p class="text-label">Jautājumi un atbildes uz <a href="{% url 'FAQ' %}" class="link">tiem</a></p>
          <p class="text-label">Mūsu <a href="{% url 'kontakti' %}" class="link">kontakti</a></p>
      </div>
  </div>
</div>
    
    <div class="container row m-5">
      <div class = "col-12">
      <div class="card">
        <div class="card-header" style="background-color:#5e6738">
          <h3 style="color:white">Biežāk uzdotie jautājumi</h3>
        </div>
        <div class="card-body">
          <div class="container ">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Kā nosūtīt vaidlapu
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Sākuma lapā jāuzspiež uz opcijas tukša veidlapa, tad var sāk veidlapas izveidi veidojot gan jautājumus, gan atbildes uz tiem.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Kā izveidot vaidlapu?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Sākuma lapā jāuzspiež uz opcijas tukša veidlapa, tad var sāk veidlapas izveidi veidojot gan jautājumus, gan atbildes uz tiem.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Kā saglabāt veidlapu
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Sākuma lapā jāuzspiež uz opcijas tukša veidlapa, tad var sāk veidlapas izveidi veidojot gan jautājumus, gan atbildes uz tiem.Sākuma lapā jāuzspiež uz opcijas tukša veidlapa, tad var sāk veidlapas izveidi veidojot gan jautājumus, gan atbildes uz tiem.Sākuma lapā jāuzspiež uz opcijas tukša veidlapa, tad var sāk veidlapas izveidi veidojot gan jautājumus, gan atbildes uz tiem.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      

    </div>
  
    
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
