{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bieži uzdotie jautājumi{% endblock %}</title>
    
    
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    
    <link rel="stylesheet" href="{% static 'index/HurlUI.css' %}">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <link rel="stylesheet" href="{% static 'css/kontakti.css' %}">

    {% block script %}
    <script src = "{% static 'index/index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

  <nav class="sticky-top navbar  bg-light justify-content-between">
    <a href="/main/" class="ms-2 navbar-brand">
      <img class="logo" src="/static/Icon/logo.svg">
    </a>
    <div class="d-md-inline-flex  me-2 collapse" id="navbarNav">
      <a href="#" class="nav-green-text mt-3">
        <p class="navbar-text-dropdown" >
          Profils
        </p>
      </a>
      <a href="{% url 'kontakti' %}" class="nav-green-text mt-3">
        <p class="navbar-text-dropdown">
          Kontakti
        </p>
      </a>
      <a href="{% url 'FAQ' %}" class="nav-green-text mt-3">
        <p class="navbar-text-dropdown">
          Q&A
        </p>
      </a>
      <a href="{% url 'iesniedz_kludu' %}" class="nav-green-text mt-3">
        <p class="navbar-text-dropdown">
          Iesniegt kļūdu
        </p>
      </a>
      <a href="#" class="mt-3 d-md-none iziet-text">
        <p class=" navbar-text-dropdown">
          Izrakstīties
        </p>
      </a>
      <a href="#" class="nav-green-text mt-2 pt-1">
        <img class="logout-icon" src="/static/Icon/logout-icon.svg">
      </a>
    </div>

    <button class="navbar-toggler collapsed d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
  </nav>

  
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="tittle">Kontakti</h3>
        <div class="text-holder text-start">
          <div>
            <p class="card-text-top mb-0">Gustavs Iļjučonoks</p>
            <p class="card-text-bot">Vārds uzvārds</p>
          </div>
          <div>
            <p class="card-text-top mb-0">27club_vips@gmail.com</p>
            <p class="card-text-bot">E-pasts</p>
          </div>
          <div>
            <p class="card-text-top mb-0">27743709</p>
            <p class="card-text-bot">Telefona numurs</p>
          </div>
        </div>
        <img class="side-image" src="/static/Icon/side_lines_right.png" alt="">
      </div>
    </div>
  </div>
  <div>
  <img class="d-sm-none bottom-img" src="/static/Icon/green-bottom.png">  
</div>   

    
    
</body>
</html>
