{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/accept_rules.css' %}">
</head>
<body>
    <div class="container mt-5 bg-white rounded-2">
        <div class="w-100 p-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="mt-5 d-lg-flex">
                <div class="mb-8 text-start">
                    <input type="checkbox" id="accept_rules" name="checkbox">
                    <label for="accept_rules">Es piekrītu noteikumiem</label>
                    
                    <a href="{% url 'view_form' form.code %}">
                        <button id="submitControl" class="w-100 btn btn-lg btn-success rounded-2 m-2 ms-0" type="submit" disabled>Pieslēgties</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'lib/cookie.min.js' %}"></script>
    <script src="{% static 'index/accept_rules.js' %}"></script>
</body>
</html>