{% extends 'index/tests/layout_main.html' %}
{% block title %}LLKC Veidlapu Izveide{% endblock %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="{% static 'lib/cookie.min.js' %}" defer></script>
<script src="{% static 'index/index.js' %}" defer></script>
<script src="{% static 'index/filterAllForms.js' %}" defer></script>
<script src="{% static 'index/filterUserForms.js' %}" defer></script>
<script src="{% static 'index/pagination.js' %}" defer></script>
<script src="{% static 'index/paginationAllForms.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div class="col lg-4 md-4 d-none d-md-block ">
    <img class="side-logo" src="{% static 'Icon/brown_side.png' %}" alt="">
</div>

<div class="top-containter">
    {% if perms.index.add_form %}
        <div class="create-form mb-5">
            <div class="container">
                <p class="forms-label">Izveidot jaunu veidlapu</p>
                <div class="create-forms">
                    <div class="form-template-box">
                        <img src = "{% static 'Icon/blank-form.png' %}" alt = "Tukša veidlapa" title = "Tukša veidlapa" id="create-blank-form">
                        <span class="form-template-label">Tukša veidlapa</span>
                    </div>
                    <div class="form-template-box big-screen">
                        <img src = "{% static 'Template/contact_information.png' %}" alt = "Kontaktu informācija" title = "Kontaktu informācija" id="create-contact-form">
                        <span class="form-template-label">Kontaktu informācija</span>
                    </div>
                    <div class="form-template-box big-screen">
                        <img src = "{% static 'Template/customer_feedback.png' %}" alt = "Dalībnieku atbalsts" title = "Dalībnieku atbalsts" id="create-customer-feedback">
                        <span class="form-template-label">Dalībnieku atbalsts</span>
                    </div>
                    <div class="form-template-box big-screen">
                        <img src = "{% static 'Template/event_registration.png' %}" alt = "Pasākuma reģistrācija" title = "Pasākuma reģistrācija" id="create-event-registration">
                        <span class="form-template-label">Pasākuma reģistrācija</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-forms">
            <div class="container">
                <div class="forms mb-5">
                    <div class="form-list-info mb-2">
                        <p class="forms-label">Jūsu veidlapas:</p>
                        <div id="filter-user">
                            <button id="filter-btn-user" class="filter-btn" type="button" data-bs-toggle="collapse"  aria-expanded="false" aria-controls="flush-collapse">
                                <div class="btn-content">
                                    <span><img id="filter-icon-user" class="filter-icon" src="{% static 'Icon/filter.svg' %}" alt="filter_icon" width="25" height="25"></span>
                                    Filtri
                                    <span id="filter-arrow-user" class="filter-arrow" ><img src="{% static 'Icon/arrow.svg' %}" alt="arrow" width="25" height="25"></span>
                                </div>
                            </button>
                            
                            <div id="popup-menu-user" class="popup-menu" aria-labelledby="flush-heading-user">
                                <div class="filter-body">
                                    <div class="filter-container">
                                        <ul class="filters-list">
                                            <div class="filter-item">
                                                <li>
                                                    <input id="createdAt-input-user" class="form-check-input" type="radio" value="createdAt" name="choose" id="createdAtUser">
                                                    <label class="form-check-label" for="chooseUser">
                                                        Pēc datuma
                                                    </label>
                                                </li>
                                            </div>
            
                                            <div class="filter-item">
                                                <li>
                                                    <input id="title-input-user" class="form-check-input" type="radio" value="title" name="choose" id="titleUser">
                                                    <label class="form-check-label" for="titleUser">
                                                        Pēc nosaukuma
                                                    </label>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div id="form-list-user" class="form-list">
                        {% include 'index/partials/user_forms.html' %}
                    </div>

                    <div class="form-list-pagination">
                        <button class="btn pagination-btn" id="prev-page-btn" title="Iepriekšējā lappuse">❮</button>
                        <span id="page-num" class="page-num"></span>
                        <button class="btn pagination-btn" id="next-page-btn" title="Nākama lappuse">❯</button>
                        <a href="{% url 'allyourforms' %}" class="link text-white" title="Visas jūsu veidlapas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="all-forms">
        <div class="container">
            <div class="forms mb-5">
                <div class="form-list-info mb-2">
                    <p class="forms-label">Visas veidlapas:</p>

                    <div id="filter-all">
                        <button id="filter-btn-all" class="filter-btn" type="button" data-bs-toggle="collapse"  aria-expanded="false" aria-controls="flush-collapse">
                            <div class="btn-content">
                                <span><img id="filter-icon-all" class="filter-icon" src="{% static 'Icon/filter.svg' %}" alt="filter_icon" width="25" height="25"></span>
                                Filtri
                                <span id="filter-arrow-all" class="filter-arrow" ><img src="{% static 'Icon/arrow.svg' %}" alt="arrow" width="25" height="25"></span>
                            </div>
                        </button>
                        
                        <div id="popup-menu-all" class="popup-menu" aria-labelledby="flush-heading-all">
                            <div class="filter-body">
                                <div class="filter-container">
                                    <ul class="filters-list">
                                        <div class="filter-item">
                                            <li>
                                                <input id="createdAt-input-all" class="form-check-input" type="radio" value="createdAt" name="choose" id="createdAtAll">
                                                <label class="form-check-label" for="createdAtAll">
                                                    Pēc datuma
                                                </label>
                                            </li>
                                        </div>
        
                                        <div class="filter-item">
                                            <li>
                                                <input id="creator-input-all" class="form-check-input" type="radio" value="creator" name="choose" id="creatorAll">
                                                <label class="form-check-label" for="creatorAll">
                                                    Pēc autora
                                                </label>
                                            </li>
                                        </div>
        
                                        <div class="filter-item">
                                            <li>
                                                <input id="title-input-all" class="form-check-input" type="radio" value="title" name="choose" id="titleAll">
                                                <label class="form-check-label" for="titleAll">
                                                    Pēc nosaukuma
                                                </label>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="form-list-all" class="form-list">
                    {% block content %}
                        {% include 'index/partials/all_forms.html' %}
                    {% endblock %}
                </div>
                <div class="form-list-pagination">
                    <button class="btn btn pagination-btn" id="prev-page-btn-all" title="Iepriekšējā lappuse">❮</button>
                    <span id="page-num-all" class="page-num"></span>
                    <button class="btn pagination-btn" id="next-page-btn-all" title="Nākamā lappuse">❯</button>
                    <a href="{% url 'alluserforms' %}" class="link text-white" title="Visas veidlapas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 d-md-none ml-sm-n3 mr-sm-n3">
        <img class="footer-logo" src="{% static 'Icon/green-bottom.png' %}" alt="">
    </div>
</div>
{% endblock %}