{% load static %}
{% load get_property %}
{% load generate_color %}
{% load count %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLKC Veidlapu izveide</title>
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responses.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<style>
    /* QR Koda CSS */
    .qrcode-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .qrcode-text {
        margin-top: 10px;
    }

    /* "Kopēt" pogas CSS */
    .popup {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(27, 27, 27, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    }

    .popup.show {
    opacity: 1;
    }
</style>

<body>
    <div class="content">
        <div class="top bg-light py-2 px-2 shadow-sm">
            <div class="row">
                <div class="nav-left d-flex justify-content-between p-2 col col-md-4 col-lg-8">
                    <div class="form-info d-flex justify-content-start">
                        <a href="/">
                            <img src = "{% static 'Icon/icon.png' %}" alt = "LLKC Ikona" class="navbar-icon form-icon" title = "LLKC Veidlapas" />
                        </a>
                        <input class="nav-text nav-form-title edit-on-click input-form-title d-none d-md-block bg-transparent border-0 ms-2" value="{{form.title}}" type="text">
                    </div>
        
                    <button class="navbar-toggler collapsed d-flex d-md-none flex-column justify-content-around align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon top-bar"></span>
                        <span class="toggler-icon middle-bar"></span>
                        <span class="toggler-icon bottom-bar"></span>
                    </button>
                </div>
        
                <div class="nav-right d-flex flex-row justify-content-center p-2 col-md-8 col-lg-4">
                    <div class="user-greet d-none d-lg-flex">
                        {% if form.creator != request.user %}
                            <p class="user-text text-nowrap" style="float: left;">Sveicināti, vienkāršs lietotāj!</p>
                        {% else %}
                            <p class="user-text text-nowrap" style="float: left;">Sveicināti, pasākumu organizators!</p>
                        {% endif %}
                    </div>
        
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav" id="nav-items">
                            <li class="nav-item d-flex flex-wrap align-content-center">
                                <img src="{% static 'Icon/color-palette-icon.svg' %}" alt="Krāsu maiņas ikona" id="customize-theme-btn" title = "Krāsu maiņa" class="nav-form-menu-icon" data-bs-toggle="modal" data-bs-target="#customize-theme" />
                                <p class="mt-auto mb-auto d-md-none">Krāsa</p>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'view_form' form.code %}">
                                    <img src="{% static 'Icon/eye-icon.svg' %}" alt="Priekšskatīšanas ikona" title = "Priekšskats" class="nav-form-menu-icon big-screen" />
                                </a>
                                <p class="mt-auto mb-auto"><a href="{% url 'view_form' form.code %}" class="text-decoration-none text-black mt-auto mb-auto d-md-none">Apskatīt</a></p>
                            </li>
                            <li class="nav-item">                            
                                <img src="{% static 'Icon/settings-icon.svg' %}" alt="Iestatījumu ikona" title = "Iestatījumi" class="nav-form-menu-icon open-setting" data-bs-toggle="modal" data-bs-target="#setting"/>
                                <p class="mt-auto mb-auto d-md-none">Iestatījumi</p>
                            </li>
                            <li class="nav-item">
                                <img src="{% static 'Icon/send-icon.svg' %}" alt ="Sūtīšanas ikona" title = "Sūtīt" class="nav-form-menu-icon small-screen" id="send-form-btn" data-bs-toggle="modal" data-bs-target="#send-form"/>
                                <p class="mt-auto mb-auto d-md-none">Sūtīt</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="form-qa w-100">
                <div class="form-navigation center d-flex justify-content-center align-content-center gap-5">
                    {% if form.is_quiz %}
                    <span class="col-4 navigation active text-center"><a href="{% url 'edit_form' form.code %}" class="link">Jautājumi</a></span>
                    <span class="col-4 navigation score text-center"><a href="{% url 'score' form.code %}" class="link">Rezultāti</a></span>
                    <span class="col-4 navigation text-center"><a href="{% url 'responses' form.code %}" class="link">Atbildes</a></span>
                    {% else %}
    
                    {% if form.creator != request.user %}
                        <span class="navigation navigation text-center"><a href = "{% url 'responses' form.code %}" class="link form-qa-active">Atbildes</a></span>
                    {% else %}
                        <span class="navigation text-center text-decoration-none"><a href="{% url 'edit_form' form.code %}" class="link form-qa">Jautājumi</a></span>
                        <span class="navigation navigation text-center"><a href = "{% url 'responses' form.code %}" class="link form-qa-active">Atbildes</a></span>
                    {% endif %}
    
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content mt-5">
            <div class="row" id="form-responses">
                <div class="form-responses container mt-5 w-75">
                    {% if form.creator == request.user %}
                        <div class="container">
                            <span id="bg-color" style="display: none;">{{form.background_color}}</span>
                            <span id="text-color" style="display: none;">{{form.text_color}}</span>
                            <div class="card shadow-sm p-3 mb-5 bg-white rounded margin-top-bottom box question-box" id="responses">
                                {% if responses.count > 0 %}
                                <h1 class="response-title">Individuāla atbilde:</h1>
                                <ul>
                                    {% for i in responses %}
                                        {% if form.collect_email %}
                                            <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_email}} atbilde</a></li>
                                        {% elif form.authenticated_responder %}
                                            <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder.username}} atbilde</a></li>
                                        {% else %}
                                            <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{ forloop.counter }} atbilde</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <button class="btn btn-danger col-12 col-md-6 col-lg-4" id="delete-responses">Dzēst visas atbildes</button>
                                {% else %}
                                <h1 class="response-title">0 atbildes</h1>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="container">
                        <div class="card shadow-sm p-3 mb-5 bg-white rounded margin-top-bottom box question-box">
                            <h1 class="response-title mb-3">Atbilžu kopsavilkums:</h1>
                            {% for r in responsesSummary %}
                            <div class="response-summary mb-3">
                                <h4 class="response-summary-title">{{r.question.question}}</h4>
                                {% if r.answers|count > 0 or filteredResponsesSummary|get_property:r.question.question|count > 0 %}
                                    {% if r.question.question_type == 'short' or r.question.question_type == 'paragraph' or r.question.question_type == 'range'%}
                                        {% for i in r.answers %}
                                            <blockquote>{{i.answer}}</blockquote>
                                        {% endfor %}
                                    {% else %}
                                    <select name="charts" id="charts{{r.question.id}}" onchange="showChart{{r.question.id}}()">
                                        <option value="">Izvēlies diagrammu</option>
                                        <option value="area">Area</option>
                                        <option value="pie">Pie</option>
                                        <option value="polar">Polar</option>
                                        <option value="bar">Bar</option>
                                        <option value="doughnut">Doughnut</option>
                     
                                    </select>
                                    
                                    <canvas id="myChart{{r.question.id}}" class="line-chart mt-3"></canvas>
                                    
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                                    <script>
                                        Chart.defaults.global.defaultFontFamily = "Roboto";
                                        Chart.defaults.global.defaultFontSize = 30;
                                                                                                
                                        var ctx{{r.question.id}} = document.getElementById("myChart{{r.question.id}}");
                                        var chartData{{r.question.id}} = {
                                          labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                          datasets: [{
                                            label: "{{r.question.question}}",
                                            backgroundColor: [
                                              'rgba(255, 99, 132, 1)',
                                              'rgba(54, 162, 235, 1)',
                                              'rgba(255, 206, 86, 1)',
                                              'rgba(75, 192, 192, 1)',
                                              'rgba(153, 102, 255, 1)',
                                              'rgba(255, 159, 64, 1)'
                                            ],
                                            data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}]
                                          }]
                                        };
                                        
                                        var myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                          type: 'pie',
                                          data: chartData{{r.question.id}},
                                          options: {
                                            legend: {
                                              display: true,
                                              labels: {
                                                fontSize: 30
                                              }
                                            }
                                          }
                                        });
                                        
                                    
                                        function showChart{{r.question.id}}() {
                                            var chartType = document.getElementById("charts{{r.question.id}}").value;
                                            if (chartType === "area") {
                                              myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                              var chartData = {
                                                labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                datasets: [{
                                                  label: "{{r.question.question}}",
                                                  data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                  fill: true,
                                                  borderColor: "rgba(0, 153, 255, 1)",
                                                  borderWidth: 3,
                                                  backgroundColor: "rgba(0, 153, 255, 0.2)",
                                                  pointBackgroundColor: "rgba(0, 153, 255, 1)",
                                                  pointBorderColor: "#fff",
                                                  pointHoverBackgroundColor: "#fff",
                                                  pointHoverBorderColor: "rgba(0, 153, 255, 1)"
                                                }]
                                              };
                                              myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                type: 'line',
                                                data: chartData,
                                                options: {
                                                  scales: {
                                                    xAxes: [{
                                                      ticks: {
                                                        fontSize: 20
                                                      }
                                                    }],
                                                    yAxes: [{
                                                      ticks: {
                                                        beginAtZero: true,
                                                        fontSize: 20
                                                      }
                                                    }]
                                                  },
                                                  legend: {
                                                    labels: {
                                                      fontSize: 30
                                                    }
                                                  }
                                                }
                                              });
                                            } else if (chartType === "radar") {
                                              myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                              var chartData{{r.question.id}} = {
                                                labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                datasets: [{
                                                  label: "{{r.question.question}}",
                                                  data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                  borderColor: "rgba(0, 153, 255, 1)",
                                                  borderWidth: 3,
                                                  backgroundColor: "rgba(0, 153, 255, 0.2)"
                                                }]
                                              };
                                              myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                type: 'radar',
                                                data: chartData{{r.question.id}},
                                                options: {
                                                  scale: {
                                                    ticks: {
                                                      beginAtZero: true
                                                    }
                                                  }
                                                }
                                              });
                                              
            
                                            } else if (chartType === "radar") {
                                                myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                                var chartData{{r.question.id}} = {
                                                  labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                  datasets: [{
                                                    label: "{{r.question.question}}",
                                                    data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                    borderColor: "rgba(0, 153, 255, 1)",
                                                    borderWidth: 3,
                                                    backgroundColor: "rgba(0, 153, 255, 0.2)"
                                                  }]
                                                };
                                                myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                  type: 'radar',
                                                  data: chartData{{r.question.id}},
                                                  options: {
                                                    scale: {
                                                      ticks: {
                                                        beginAtZero: true
                                                      }
                                                    }
                                                  }
                                                }); 
            
                                            } else if (chartType === "pie") {
                                                myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                                var chartData{{r.question.id}} = {
                                                  labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                  datasets: [{
                                                    label: "{{r.question.question}}",
                                                    data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                    backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#8A2BE2", "#FFA07A"],
                                                    borderWidth: 1
                                                  }]
                                                };
                                                myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                  type: 'pie',
                                                  data: chartData{{r.question.id}},
                                                  options: {
                                                    legend: {
                                                      labels: {
                                                        fontSize: 30
                                                      }
                                                    }
                                                  }
                                                });
            
                                            } else if (chartType === "polar") {
                                                myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                                var chartData{{r.question.id}} = {
                                                    labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                    datasets: [{
                                                        label: "{{r.question.question}}",
                                                        data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#8A2BE2", "#FFA07A"],
                                                        borderWidth: 1
                                                    }]
                                                };
                                                myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                    type: 'polarArea',
                                                    data: chartData{{r.question.id}},
                                                    options: {
                                                        legend: {
                                                            labels: {
                                                                fontSize: 30
                                                            }
                                                        },
                                                        scale: {
                                                            ticks: {
                                                                beginAtZero: true
                                                            }
                                                        }
                                                    }
                                                });
            
            
            
                                            } else if (chartType === "doughnut") {
                                                myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                                var chartData{{r.question.id}} = {
                                                  labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                  datasets: [{
                                                    label: "{{r.question.question}}",
                                                    data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                    backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#8A2BE2", "#FFA07A"],
                                                    borderWidth: 1
                                                  }]
                                                };
                                                myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                  type: 'doughnut',
                                                  data: chartData{{r.question.id}},
                                                  options: {
                                                    legend: {
                                                      labels: {
                                                        fontSize: 30
                                                      }
                                                    }
                                                  }
                                                });
                                              } else if (chartType === "bar") {
                                                myChart{{r.question.id}}.destroy(); // destroy the previous chart, if any
                                                var chartData{{r.question.id}} = {
                                                    labels: [{% for i in filteredResponsesSummary|get_property:r.question.question %}"{{i}}",{% endfor %}], 
                                                    datasets: [{
                                                        label: "{{r.question.question}}",
                                                        data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}},{% endfor %}],
                                                        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#8A2BE2", "#FFA07A"],
                                                        borderWidth: 1
                                                    }]
                                                };
                                                myChart{{r.question.id}} = new Chart(ctx{{r.question.id}}, {
                                                    type: 'bar',
                                                    data: chartData{{r.question.id}},
                                                    options: {
                                                        legend: {
                                                            labels: {
                                                                fontSize: 30
                                                            }
                                                        },
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true
                                                                }
                                                            }]
                                                        }
                                                    }
                                                });
                                            }
                                          }
                                    </script>
                                    {% endif %}
                                {% else %}
                                <blockquote><span>Nav atbilžu</span></blockquote>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="side-logo" class="col lg-4 md-4 d-none d-md-block">
                <img class="side-logo" src="{% static 'Icon/brown_side.png' %}" alt="side logo">
            </div>

            <div class="question-options">
                <a href="{% url 'view_form' form.code %}">
                    <img src = "{% static 'Icon/eye.png' %}" class = "form-option-icon" title = "Priekšskats" alt = "Priekšskata ikona" />
                </a>
                <a href="{% url 'edit_form' form.code %}">
                    <img src="{% static 'Icon/question.png' %}" alt="Rediģēt jautājumu" title="Rediģēt šo veidlapu" class="form-option-icon">
                </a>
                {% if form.is_quiz %}
                <a href = "{% url 'score' form.code %}" id="add-score">
                    <img src = "{% static 'Icon/score.png' %}" class = "form-option-icon" title = "Pievienot rezultātu" alt = "Rezultātu ikona" />
                </a>
                {% endif %}
            </div>
        </div>

        <div class="modals">
            <div class="modal fade" id="customize-theme" tabindex="-1" aria-labelledby="customize-theme" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">Krāsu opcijas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
    
                        <div class="modal-body">    
                            <div class="modal-division">
                                <h3 class="modal-subtitle">Teksta krāsa:</h3>
                                <input type="color"  value = {{form.text_color}} list="textColors" class="form-control" id="input-text-color" />
                                <datalist id="textColors">                
                                    <option value="#db4437"></option>
                                    <option value="#673ab7"></option>
                                    <option value="#3f51b5"></option>
                                    <option value="#4285f4"></option>
                                    <option value="#03a9f4"></option>
                                    <option value="#00bcd4"></option>
                                    <option value="#8a8a8a"></option>
                                    <option value="#4c3d45"></option>
                                    <option value="#272124"></option>
                                </datalist>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
    
            <div class="modal fade" id="setting" tabindex="-1" aria-labelledby="form settings" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class = "modal-title">Iestatījumi</h1>
                            <button type="button" class="btn-close modal-close-btn" id="close-setting" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
    
                        <div class="modal-body">
                            <form id="setting-form">
                                <h3 class="setting-preview-form small-screen mb-3"><a class="text-black" href="{% url 'view_form' form.code %}">Priekšskats</a></h4>
                                <div class="modal-division mb-5">
                                    <h4 class="modal-subtitle">Galvenais</h4>
                                    <div class="form-group mb-2">
                                        <input type="checkbox" id="collect_email"{% if form.collect_email %} checked {% endif %}>
                                        <label for="collect_email" class="setting-form-label">Saglabāt epasta adreses</label>
                                    </div>
                                    <div class="form-group mb-2 ">
                                        <input type="checkbox" id="is_quiz" {% if form.is_quiz %} checked {% endif %}>
                                        <label for="is_quiz" class="setting-form-label">Veidot šo veidlapu kā viktorīnu</label>
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="checkbox" id="authenticated_responder" {% if form.authenticated_responder %} checked {% endif %}>
                                        <label for="authenticated_responder" style="word-wrap:break-word; width:400px;" class="setting-form-label">Respondenta profilam ir jābūt apstiprinātam. (Pieteikšanās ir obligāta)</label>
                                    </div>
                                </div>
                                <div class="modal-division mb-5">
                                    <div class="form-group">
                                        <h3 class="modal-subtitle">Apstiprinājuma ziņojums:</h3>
                                        <textarea rows="1" class="text-answer w-100 my-2 px-2 py-1" spellcheck="false" id="comfirmation_message" placeholder="{{form.confirmation_message}}">{{form.confirmation_message}}</textarea>
                                    </div>
                                </div>
                                <div class="modal-division mb-5">
                                    <div class="form-group mb-2">
                                        <h3 class="modal-subtitle">Respondenti drīkst:</h3>
                                        <input type="checkbox" id="edit_after_submit" {% if form.edit_after_submit %}checked{% endif %}>
                                        <label for="edit_after_submit" class="setting-form-label">Rediģēt atbildi pēc iesniegšanas</label>
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="checkbox" id="allow_view_score" {% if form.allow_view_score %}checked{% endif %}>
                                        <label for="allow_view_score" class="setting-form-label">Skatīt rezultātu</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Saglabāt" class="form-control btn btn-save-setting col-12 col-md-8 col-lg-4">
                                    </div>
                                </div>
                            </form>
                            <form id="delete-form" class="modal-division">
                                <fieldset class="form-group">
                                    <legend class="modal-subtitle text-danger danger-zone">Uzmanību</legend>
                                    <h3 class="delete-form-title">Dzēst šo veidlapu</h3>
                                    <p class="delete-form-description">Kad veidlapa ir izdzēsta, tā netiek atgriezta. Lūdzu, esiet droši.</p>
                                    <input type="submit" value="Dzēst" class="form-control delete-form-btn btn col-12 col-md-8 col-lg-4">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="modal fade" id="send-form" tabindex="-1" aria-labelledby="send form info" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class = "modal-title">Sūtīt veidlapu</h1>
                            <button type="button" id="close-send-form" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-division mb-3">
                                <h4 class="modal-subtitle">Saite:</h4>
                                <input type="url" class="form-control" value="http://{{request.get_host}}/form/{{form.code}}/viewform" copy-btn id="copy-url">
                            </div>
    
                            <div class="modal-division mb-3">
                                <button class="btn btn-submit" id="copy-btn">Kopēt</button>
                                <button class="btn btn-primary" id="qr-btn">QR Kods</button>
                            </div>
    
                            <div class="qrcode-container" style="display: none; justify-content: center; margin-top: 10px;">
                                <div id="qrcode" style="margin: 0 auto;"></div>
                                <p class="qrcode-text"><em>Nospiediet uz QR koda, lai to kopētu!</em></p>
                            </div>
                            <div id="popup" style="display:none; position: fixed; bottom: 10px; left: 50%; transform: translateX(-50%); background-color: #333; color: white; padding: 10px; border-radius: 5px; z-index: 9999;">
                                QR Kods nokopēts!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
<!-- "Kopēt" pogas JS -->
<script>
    const copyBtn = document.getElementById("copy-btn");
    const copyUrl = document.getElementById("copy-url");

    copyBtn.addEventListener("click", () => {
        copyUrl.select();
        document.execCommand("copy");

        const popup = document.createElement("div");
        popup.classList.add("popup");
        popup.textContent = "Saite ir nokopēta!";
        document.body.appendChild(popup);

        setTimeout(() => {
            popup.classList.add("show");
            setTimeout(() => {
                popup.classList.remove("show");
                setTimeout(() => {
                    popup.remove();
                }, 300);
            }, 1500);
        }, 0);
    });
</script>

</script>
<!-- Skripts, kas izveido un attēlo QR kodu -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
    var qrCode = new QRCode(document.getElementById("qrcode"), {
        width: 150,
        height: 150,
    });
    qrCode.makeCode("http://{{request.get_host}}/form/{{form.code}}/viewform");

    const qrBtn = document.getElementById("qr-btn");
    const qrContainer = document.querySelector(".qrcode-container");
    const qrCodeElem = document.getElementById("qrcode");
    const popupElem = document.getElementById("popup");

    qrCodeElem.addEventListener("click", () => {
        // create temporary canvas element to hold QR code image
        const tempCanvas = document.createElement("canvas");
        tempCanvas.width = qrCodeElem.offsetWidth;
        tempCanvas.height = qrCodeElem.offsetHeight;
        const ctx = tempCanvas.getContext("2d");
        const img = qrCodeElem.querySelector("img");
        ctx.drawImage(img, 0, 0);

        // convert canvas to data URL and copy to clipboard
        tempCanvas.toBlob(blob => {
            navigator.clipboard.write([
                new ClipboardItem({
                    [blob.type]: blob
                })
            ]);
            // show popup when QR code is copied
            popupElem.style.display = "block";
            setTimeout(() => {
                popupElem.style.display = "none";
            }, 2000); // hide popup after 2 seconds
        });

        // remove temporary canvas element
        document.body.removeChild(tempCanvas);
    });

    qrBtn.addEventListener("click", () => {
        if (qrContainer.style.display === "none") {
            qrContainer.style.display = "flex";
        } else {
            qrContainer.style.display = "none";
        }
    });
</script>

<script src="{% static 'lib/cookie.min.js' %}"></script>
<script src="{% static 'index/responses.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>