{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}

    {% if perms.index %}
        <p>You have permission to do something in the index app.</p>
    {% endif %}

    {% if perms.index.view_answer %}
        <p>You are simple represantative.</p>
    {% endif %}
</body>
</html>