{% extends 'index/layout.html' %}
{% load static %}
{% block title %}{{form.title}} ~ LLKC Veidlapu izveide{% endblock %}
{% block script %}
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
<script src="{% static 'index/viewform.js' %}" defer></script>
<script src="{% static 'index/accept_rules.js' %}" defer></script>
<script src="{% static 'index/slider.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'dist/main.css' %}">
<link rel="stylesheet" href="{% static 'css/view_form.css' %}">
{% endblock %}
{% block body %}

<div class="col lg-4 md-4 d-none d-md-block ">
    <img class="side-logo" src="{% static 'Icon/curve-line-side.svg' %}" alt="">
</div>

<div class="container-fluid">    
    <form id="viewForm" class="container" method="POST" action="{% url 'submit_form' form.code %}" autocomplete="off">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        {% csrf_token %}
        <div class="margin-top-bottom box question-box">
            <div class="form-title-box">
                <h1 class="form-title txtClr">{{form.title}}</h1>
                <p class="required-info">* Obligāts</p>

                <div class="rules d-flex gap-2">
                    <input type="checkbox" id="accept_rules" class="p-0">
                    <label for="accept_rules">Es piekrītu <a id="rules" href="{% url 'rules' form.code %}">noteikumiem un nosacījumiem</a> </label>
                </div>

            </div>
            <div class="form-description txtClr">{{form.description|linebreaksbr}}</div>
        </div>
        {% if form.collect_email %}
        <div class="margin-top-bottom box question-box">
            <h1 class="question-title txtClr">Ē-pasta adrese: <span class="require-star">*</span></h1>
            <input type="email" name="email-address" class="short-answer" placeholder="Jūsu epasta adrese" required>
        </div>
        {% endif %}
        {% for question in form.questions.all %}
        <div class="margin-top-bottom box question-box">
            <h1 class="question-title txtClr">{{question.question}} {% if question.required %}<span class="require-star">*</span>{% endif %}</h1>
            {% if question.question_type == "short" %}
                <input type="text" name="{{question.id}}" class="short-answer" placeholder = "Jūsu atbilde" {% if question.required %} required {% endif %}>

            {% elif question.question_type == "paragraph" %}
                <textarea name="{{question.id}}" placeholder="Jūsu atbilde" class="long-answer textarea-adjust" {% if question.required %} required {% endif %}></textarea>

            {% elif question.question_type == "range" %}
                <div class="answers" data-id="{{question.id}}">
                    <div class="range">
                        <div class="value-left">0</div>
                        <input id="slider" type="range" min="0" max="10" value="1" steps="1" name="{{question.id}}" {% if question.required %} required {% endif %}>
                        
                        <div class="bubble-div">
                            <output class="bubble"></output>
                        </div>

                        <div class="value-right">10</div>
                        <div id="progressBar" style="top: 11px;"></div>
                    </div>
                </div>

            {% elif question.question_type == "multiple choice" %}
                {% for choice in question.choices.all %}
                <div class="multiple-choice">
                    <input type="radio" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}">
                    <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                </div>
                {% endfor %}
            {% elif question.question_type == "checkbox" %}
            {% for choice in question.choices.all %}
                <div class="multiple-choice">
                    <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}">
                    <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="margin-top-bottom d-flex justify-content-between">
            <button id="submitControl" class="btn btn-lg rounded-2 m-2 ms-0" type="submit" disabled>Iesniegt</button>

            <button id="clearForm" class="color-primary btn" onclick="resetForm()" value="Reset">Notīrīt veidlapu</button>
        </div>
    </form>
    {% if user == form.creator %}
        <a href="{% url 'edit_form' form.code %}">
            <img src="{% static 'Icon/question.png' %}" alt="Rediģēt jautājumu" title="Rediģēt šo veidlapu" class="edit-form-link">
        </a>
    {% endif %}

    {% if banner %}
        <div class="image-banner">
            <img src="/media/{{ banner }}" alt="connect" style="max-height:300px">
        </div>
    {% endif %}

    <div class="mt-5 d-md-none">
        <img class="footer-logo" src="{% static 'Icon/wave-logo.svg' %}" alt="footer logo">
    </div>
</div>
<script>
    function resetForm(){
        var element = document.getElementById("viewForm");
        element.reset()
    }
 </script>
{% endblock %}